*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}
header {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: white;
	.title {
		font-size: 48px;
		margin: 0;
	}
	.author {
		position: absolute;
		margin: 5px;
		font-size: 15px;
		text-transform: uppercase;
		left: 55%;
	}
}
.underline {
	margin: 0 auto 5px;
	width: 120px;
	height: 2px;
	background-color: #039dff;
}
footer {
	position: absolute;
	bottom: 2%;
	width: 100%;
	text-align: center;
	.copyright {
		color: grey;
		font-size: 10px;
		text-transform: uppercase;
	}
}
main {
	color: white;
	text-align: center;
	margin-top: 50px;
	li {
		list-style-type: none;
		font-size: 20px;
		text-transform: uppercase;
		margin: 10px;
		small {
			font-size: 10px;
		}
	}
}
.btn {
	text-transform: uppercase;
}
