*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 9pt;
  background-color: #333;
}

header {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: white;
}
header .title {
  font-size: 48px;
  margin: 0;
}
header .author {
  position: absolute;
  margin: 5px;
  font-size: 15px;
  text-transform: lowercase;
  left: 55%;
}

.underline {
  margin: 0 auto 5px;
  width: 120px;
  height: 2px;
  background-color: #039dff;
}

footer {
  padding-top: 30px;
  width: 100%;
  text-align: center;
}
footer .copyright {
  color: grey;
  font-size: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 50px;
}

.table1 {
  grid-area: 1/1/2/2;
  display: grid;
  justify-content: center;
  margin: 0px;
}

.table2 {
  grid-area: 1/2/2/3;
  border-collapse: collapse;
  height: 50%;
}
.table3{
  border: 1px solid;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 20px;
  height: 60%;
}
.table4{
  border: 1px solid;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 20px;
  height: 20%;
  align-items: center;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

.halve_cell {
  display: table-cell;
  width: 90px;
}

.buttons {
  margin-top: 20px;
  margin-left: 150px;
}
.buttons div{
  padding: 5px;
  padding-left: 15px;
}
/* CSS */
.button-13 {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}